#!/usr/bin/make -f

DH_VERBOSE = 1

export DEB_BUILD_OPTIONS = nocheck

export CGO_ENABLED = 1
export GOPATH ?= $(HOME)/go
export GOFLAGS = -buildvcs=false
export PATH := /usr/local/go/bin:$(PATH)

BIN ?= $(subst -,_,$(PACKAGE_NAME))
BIN_DIR ?= ${GOPATH}/bin

%:
	dh $@

override_dh_auto_install:
	@echo "=== Installing $(PACKAGE_NAME) from $(BIN_DIR)/$(BIN) to $(PACKAGE_NAME)$(GPROOT)/$(PACKAGE_NAME) ==="
	@mkdir -p $(CURDIR)/debian/tmp/$(PACKAGE_NAME)$(GPROOT)/$(PACKAGE_NAME)
	@install -D -m 755 $(BIN_DIR)/$(BIN) $(CURDIR)/debian/tmp/$(PACKAGE_NAME)$(GPROOT)/$(PACKAGE_NAME)/$(BIN)

override_dh_dwz:
	@echo "Skipping debug symbols compression (not working properly with Golang)"
